*, *::before, *::after {
    box-sizing: border-box;
    font-family: fantasy;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vw;
    background-color: dimgrey;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

#login_form {
    align-self: flex-start;
    display: grid;

}

.login-form-field {
    border: none;
    margin-bottom: 10px;
}